*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container{
    max-width: 5000px;
    height: 500px;
    margin: 0 auto; 
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 20px 0px;

}
    
body{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.bar{
    width: 10px;
    background-color: black;
    margin: 1px;
    border-radius: 2px;
}

body{
    background-color: #00c5fc;
}

button{
    width: 200px;
    height: 30px;
    background-color: #0a8dff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    transition:  0.2s ease-in-out;
}

button:hover{
    background-color: #e75a82;
}